
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
#principal{
   background-color: #526172;
   width: 100%;
   height: 65vh;
}

.navegacion{
    height: 17vh;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 14vh;
}

.menu a{
    text-decoration: none;
    color: white;
    background: #606c6b;
    border-radius: 22px;
    font-size: 1.06rem;
    padding: 13%;
}

.menu li{
    list-style: none;
}

.lista{
    display: flex;
    width: 24%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cabezera{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.imagen{
    display: flex;
    justify-content: flex-end;
    width: 61%;
    height: 48vh;
}

.texto h1{
    color: white;
}

.texto{
    color: #cfc3c3;
}

.texto #texto{
    color: #424040f5;
}

#boton{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    width: 52%;
    height: 12vh;
    
}

#boton button{
    background: #4991db;
    border-radius: 22px;
    font-size: 1rem;
    padding: 1%;
    color: white;
    border:none;
    /*margin-top: 3%; */
}

#imagentexto{
    border-bottom: ridge;
}

/*seccion marcas*/
#marcas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 13vh;
    background-color: #e7e7e7;
    border-bottom: ridge;
}

/*seccion fichas*/
#fichas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 2%;
    
}
.fichaUno img{
    width: 50%;
    height: 50%;
}
.fichaUno{
    display: flex;
    align-items: center;
    width: 23%;
    flex-direction: column;
    flex-wrap: nowrap;
}

.fichaUno h1{
    color: #606c6b;
    margin-top: 12%;
    font-size: 2.2rem;
}

.fichaUno p{
    color: #606c6b;
    font-size: 1.1rem;   
    text-align: center;
    margin-top: 5%;
    margin-bottom: 11%;
}

.botonficha{
    background-color: #2e8cd7;
    border: none;
    padding: 4%;
    border-radius: 7px;
    color: white;
    font-size: 1rem;
}

/*seccion imagenes*/
.titulo{
    width: 25%;
    text-align: center;
    height: 12vh;
    color: #616262;
}

#marcos{
    width: 100%;
    height: 44vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#marcos img{
    width: 20%;  
}

/*secciontres*/
#secciontres{
    width: 50%;
}
.contenedor{
    display: flex;
    width: 88%;
    font-size: 1.1rem;
    gap: 28px;
    flex-direction: row;
}

.contenedor img{
    width: 42%;
    height: 23vh;
}

.parrafos{
        width: 50%;
}